doctype html
include mixins

html(ng-app='fussball-app')
    head
        title= title
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/spacelab/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-resource/angular-resource.js')
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/angular-route/angular-route.js')

    body
        .container

        +nav("Fussball", "dropdown_menu", "inverse")
                +nav_item( "#/games-list", "active" ) Games
                +nav_item( "#/users" ) Users
                +nav_item( "#/stuff" ) Stuff

        ng-view

        script(src='controllers/fussball-ctrls.js')
        script(src='services/fussball-services.js')
        script(src='services/fussball-socket.js')

        script(src='//code.jquery.com/jquery-2.1.4.min.js' )
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' )
        script(src='/javascripts/global.js')
