div(ng-show='err' class='alert alert-danger') {{ err }}

div(ng-show='stuffData' class='alert alert-success') {{ stuffData }}
br
//Create a new game
div(class="row")
    fieldset
        legend Basic game controls
        div(class="form-group col-md-5")
            .checkbox
                label
                    input(type='checkbox', name='checkbox', value='test' ng-model="force")
                    |   Force
                button(class="btn btn-primary btn-sm", ng-click="createGame(force)") Create New Game
            button(class="btn btn-primary btn-sm", ng-click="startGame('theGame1')") Start game
            button(class="btn btn-primary btn-sm", ng-click="endGame('theGame1')") End game
            button(class="btn btn-primary btn-sm", ng-click="getCurrentGame()") Get game

br

div(class="row")
    fieldset
        legend Take position
        div(class="row")
            div(class="form-group col-md-6")
                label(class="radio-inline")
                    input(type="radio" ng-model="team" value="team_one")
                    | Team One
                label(class="radio-inline")
                    input(type="radio" ng-model="team" value="team_two")
                    | Team Two

        div(class="row")
            div(class="form-group col-md-6")
                label(class="radio-inline")
                    input(type="radio" ng-model="position" value="offense")
                    | Offense
                label(class="radio-inline")
                    input(type="radio" ng-model="position" value="defense")
                    | Defense

        div(class="row")
            div(class="form-group col-md-6")
                select(ng-options="user.username for user in users" ng-model="player")

        button(class="btn btn-primary btn-sm", ng-click="takePosition2(team, position, player)") Take position

br

//Fix with score a new game
div(class="row")
    fieldset
        legend Score and adjustment thereof
        div(class="row")
            div(class="form-group col-md-6")
                label(class="radio-inline")
                    input(type="radio" ng-model="scoreteam" value="team_one")
                    | Silver
                label(class="radio-inline")
                    input(type="radio" ng-model="scoreteam" value="team_two")
                    | Black

        div(class="form-group col-md-5")
            button(class="btn btn-primary btn-sm", ng-click="correction(scoreteam, 1)") Correction +1
            button(class="btn btn-primary btn-sm", ng-click="correction(scoreteam, -1)") Correction -1
            button(class="btn btn-primary btn-sm", ng-click="score(scoreteam, 1)") Score 1

br